.main {
  align-items: center;
  display: flex;
  margin-top: 32px;
}

.imageContainer {
  flex: 1;
}

.main :global(.ant-avatar) {
  height: 100%;
  width: 100%;
}

.text {
  flex: 4;
  font-size: 16px;
  font-weight: 300;
  margin-left: 32px;
  text-align: center;
}

.name {
  font-weight: 500;
}
