.pb-banner {
  background-color: #000;
  padding: 64px;
}

.pb-banner__title {
  color: white;
  font-family: "Luckiest Guy";
  font-size: 90px;
  line-height: 1;
  margin-top: 25px;
  text-align: center;
  text-transform: uppercase;
}
