.main {
  background-color: #000;
  padding: 64px;
}

.title {
  color: white;
  font-family: "Luckiest Guy";
  font-size: 90px;
  line-height: 1;
  margin-top: 25px;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 700px) {
  .title {
    font-size: 40px;
  } 
}
